antlr4-python3-runtime==4.8
certifi==2021.10.8
cffi==1.15.0
colorama==0.4.4
Cython==0.29.24
hydra-core==1.0.7
importlib-resources==5.4.0
numpy==1.21.4
omegaconf==2.0.6
portalocker==2.0.0
pycparser==2.21
PyYAML==6.0
regex==2021.11.2
sacrebleu==1.5.1
tabulate==0.8.9
torch==1.10.0
tqdm==4.62.3
typing-extensions==3.10.0.2
zipp==3.6.0
